<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- IIS worker switch -->
    <add key="iis.workerOn" value="false" />
    <!-- Настройки OWIN -->
    <add key="owin.host" value="http://localhost:3333" />
    <!-- параметры для Zabbix -->
    <add key="zabbix.restrictionkey" value="restrictioncount" />
    <add key="zabbix.hostkey" value="LOCALHOST" />
    <add key="zabbix.period" value="30" />
    <add key="zabbix.server" value="localhost" />
    <add key="zabbix.port" value="10051" />
  </appSettings>
  <connectionStrings>
    <add name="ConfigurationManagement" connectionString="Application Name=ServiceConfigurator;database=ConfigurationManagement;server=tcp:localhost;user id=ServiceConfigurator;pwd=!QAZ2wsx" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
